.root-container {
    width: 380px;
}

@media only screen and (max-width: 450px) {
    .root-container {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
    }

    .columns {
        margin-left: 0;
        margin-right: 0;
    }
}

/* [aria-label][data-balloon-pos="up-left"]:hover:before, [aria-label][data-balloon-pos="up-left"][data-balloon-visible]:before {
    transform: translate(-50%, 0); }
[aria-label][data-balloon-pos="up-left"]:before {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top; } */

.title-icons {
    width: 1.8rem;
}

.horizontal-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
}

.horizontal-flex > * {
    margin: 0 6px;
}

.width-100 {
    width: 100%;
}

.share-link-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.share-link-box input {
    width: 60%;
    margin-left: 0.5rem;
}

.share-link-transition {
    transition: ease-out 300ms border;
    /* transition: ease-out 100ms box-shadow; */
}

.field.start-game-field {
    justify-content: space-between;
}

.awesomplete {
    width: 100%;
}

/* hides awesomplete arrow icon */
.awesomplete>ul:before {
    display: none; 
}

.guess {
    width: 4.3em;
}

#error {
    margin: 1em 0;
}

.score {
    text-align: center;
}

.view-game {
    width: 100%;
    margin: -2em auto;
}

.view-game > * {
    margin-top: 2em;
    margin-bottom: 2em;
}

.skills, .passives {
    margin: 0 -4px;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
}
.skills > *, .passives > * {
    margin: 0 4px;
    display: inline-block;
}

.skill-icon { 
    width: 50px;
    height: 50px;
    display: inline-block;
}

.skills .skill-icon+.skill-icon {
    margin-left: 2px;
}